# https://github.com/github/linguist/blob/master/docs/overrides.md
# https://github.com/github/linguist/blob/master/lib/linguist/languages.yml

docs linguist-documentation

# Dockerfile
Dockerfile.*        linguist-language=Dockerfile
.*dockerfile        linguist-language=Dockerfile
